<main>
    <div class="container-fluid">

        <div class="row">

            <h1 class="text-center mt-4">Listado de Pel&iacute;culas</h1>

            {{#if hasMovies}}

            {{#each movies as |movie|}}


                <div class="col-md-4">
                    <div class="card {{#if movie.active}} {{else}}card-disabled{{/if}}">
                        <img src="{{movie.imageUrl}}" class="card-img-top image-size" alt="{{movie.name}}">
                        <div class="card-body">
                            <h5 class="card-title fs-3 font-bold">{{movie.name}}</h5>
                            <p class="card-text font-medium">{{movie.description}}</p>
                            <p class="card-text font-medium">G&eacute;nero: {{movie.gender}}</p>
                            <p class="card-text font-medium">Activo: {{#if movie.active}}S&iacute;{{else}}No{{/if}}</p>

                            <div class="d-flex mx-0 float-end">
                            <a href="/admin/edit-movies/{{movie.id}}?editMode=true" class="btn btn-primary ">Editar</a>
                            
                            <form action="/admin/delete-movies" method="post" class="mx-2"> 

                            <input type="hidden" value="{{this.id}}" name="movieId">
                            <button type="submit" href="/admin/movies" class="btn btn-danger float-middle">Borrar</button>

                            </form>
                            </div>
                        </div>
                    </div>
                </div>




            {{/each}}

            {{/if}}

        </div>


    </div>
</main>